<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/assets/stylesheets/reset.css">
    <link rel="stylesheet" href="../../public/assets/stylesheets/dashboard/dashboard.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&family=Ubuntu:wght@500&display=swap" rel="stylesheet">
    <title>Dashboard</title>
</head>

<body>
    <div class="sensor_panel"></div>
    <div class="webcam_window">
        <div class="control_panel--menu-button"></div>
        <div class="control_panel">
            <form name="control_panel_form">
                <button class="control_panel--form-button" id="start_session">Start Session</button>
                <button class="control_panel--form-button" id="end_session">End Session</button>
                <button class="control_panel--form-button" id="end_flush">End Flush</button>
                <!--Temperature-->
                <div>
                    <label class="config_label">Select Temperature Celsius</label>
                    <input type="number" name="temperature_c" class="form__number_input">
                </div>
                <!--Humidity-->
                <div>
                    <label class="config_label">Select Relative Humidity %</label>
                    <input type="number" name="humidity" class="form__number_input">
                </div>
                <!--CO2-->
                <div>
                    <label class="config_label">Select CO2 ppm</label>
                    <input type="number" name="co2_ppm" class="form__number_input">
                </div>
                <!--Light-->
                <div className="form__radio-group">
                    <span class="config_label">Select Lighting</span>
                    <input type="radio" class="form__radio-input" id="yes" name="lighting" />
                    <label class="form__radio-label">
                        On
                    </label>
                    <input type="radio" class="form__radio-input" id="no" name="lighting" />
                    <label class="form__radio-label">
                        Off
                    </label>
                </div>
                <!--Duration-->
                <div>
                    <label class="config_label">Select Duration (days)</label>
                    <input type="number" name="duration_days" class="form__number_input">
                </div>
            </form>
        </div>
    </div>
</body>

</html>