<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/stylesheets/reset.css">
    <link rel="stylesheet" href="../../assets/stylesheets/dashboard/dashboard.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&family=Ubuntu:wght@500&display=swap" rel="stylesheet">
    <title>Dashboard</title>
</head>

<body>
    <!--no line break for no inline-block gap-->
    <div class="main_flex">
        <div class="sensor_panel">
            <div class="sensor_panel--output" id="internal_temp_1">
                <h1 class="sensor_panel--output-wrapper">
                    <labelspans="sensor_panel--ouput-label">iTemp1:</label>
                    <span class="sensor_panel--output-field" id="iTemp1"></span>
                </h1>
            </div>
            <div class="sensor_panel--output" id="internal_temp_2">
                <h1 class="sensor_panel--output-wrapper">
                    <span class="sensor_panel--output-label">iTemp2:</label>
                    <span class="sensor_panel--output-field" id="iTemp2"></span>
                </h1>
            </div>
            <div class="sensor_panel--output" id="internal_temp_3">
                <h1 class="sensor_panel--output-wrapper">
                    <span class="sensor_panel--output-label">iTemp3:</label>
                    <span class="sensor_panel--output-field" id="iTemp3"></span>
                </h1>
            </div>
            <div class="sensor_panel--output" id="precise_temp_c">
                <h1 class="sensor_panel--output-wrapper">
                    <span class="sensor_panel--output-label">precise_temp_c:<label>
                    <span class="sensor_panel--output-field" id="pTempC"></span>
                </h1>
            </div>
            <div class="sensor_panel--output" id="precise_temp_f">
                <h1 class="sensor_panel--output-wrapper">
                    <span class="sensor_panel--output-label">precise_temp_f:<label>
                    <span class="sensor_panel--output-field" id="pTempF"></span>
                </h1>
            </div>
            <div class="sensor_panel--output" id="external_temp">
                <h1 class="sensor_panel--output-wrapper">
                    <span class="sensor_panel--output-label">external_temp:<label>
                    <span class="sensor_panel--output-field" id="eTemp"></span>
                </h1>
            </div>
            <div class="sensor_panel--output" id="internal_humidity_1">
                <h1 class="sensor_panel--output-wrapper">
                    <span class="sensor_panel--output-label">internal_humidity_1:<label>
                    <span class="sensor_panel--output-field" id="iHumidity1"></span>
                </h1>
            </div>
            <div class="sensor_panel--output" id="internal_humidity_2">
                <h1 class="sensor_panel--output-wrapper">
                    <span class="sensor_panel--output-label">internal_humidity_2:<label>
                    <span class="sensor_panel--output-field" id="iHumidity2"></span>
                </h1>
            </div>
            <div class="sensor_panel--output" id="internal_humidity_3">
                <h1 class="sensor_panel--output-wrapper">
                    <span class="sensor_panel--output-label">internal_humidity_3:<label>
                    <span class="sensor_panel--output-field" id="iHumidity3"></span>
                </h1>
            </div>
            <div class="sensor_panel--output" id="external_humidity">
                <h1 class="sensor_panel--output-wrapper">
                    <span class="sensor_panel--output-label">external_humidity:<label>
                    <span class="sensor_panel--output-field" id="eHumidity"></span>
                </h1>
            </div>
            <div class="sensor_panel--output" id="co2_div">
                <h1 class="sensor_panel--output-wrapper">
                    <span class="sensor_panel--output-label">co2:<label>
                    <span class="sensor_panel--output-fieco2ld" id="co2"></span>
                </h1>
            </div>
            <div class="sensor_panel--output" id="weight_div">
                <h1 class="sensor_panel--output-wrapper">
                    <span class="sensor_panel--output-label">weight:<label>
                    <span class="sensor_panel--output-fieldweight" id="weight"></span>
                </h1>
            </div>
        </div><div class="webcam_window">
            <div class="control_panel--menu-button"></div>
            <div class="control_panel">
                <form name="control_panel_form">
                    <button class="control_panel--form-button" id="start_session">Start Session</button>
                    <button class="control_panel--form-button" id="end_session">End Session</button>
                    <button class="control_panel--form-button" id="end_flush">End Flush</button>
                    <!--Temperature-->
                    <div>
                        <label class="config_label">Select Temperature Celsius</label>
                        <input type="number" name="temperature_c" class="form__number_input">
                    </div>
                    <!--Humidity-->
                    <div>
                        <label class="config_label">Select Relative Humidity %</label>
                        <input type="number" name="humidity" class="form__number_input">
                    </div>
                    <!--CO2-->
                    <div>
                        <label class="config_label">Select CO2 ppm</label>
                        <input type="number" name="co2_ppm" class="form__number_input">
                    </div>
                    <!--Light-->
                    <div className="form__radio-group">
                        <span class="config_label">Select Lighting</span>
                        <input type="radio" class="form__radio-input" id="yes" name="lighting" />
                        <label class="form__radio-label">
                            On
                        </label>
                        <input type="radio" class="form__radio-input" id="no" name="lighting" />
                        <label class="form__radio-label">
                            Off
                        </label>
                    </div>
                    <!--Duration-->
                    <div>
                        <label class="config_label">Select Duration (days)</label>
                        <input type="number" name="duration_days" class="form__number_input">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="module" src="../../javascript/controllers/dashboard/dashboard.js"></script>
</body>

</html>