<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/main_configuration.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap" rel="stylesheet">
    <title>Main Configuration</title>
</head>

<body>
    <h1>Gourmet Mushroom Grow-Box Configuration</h1>
    <form>
        <!--Select Mushroom-->
        <label class="config_label">Select a Mushroom</label>
        <select>
            <option>Pink Oyster</option>
            <option>Golden Oyster</option>
            <option>Blue Oyster</option>
            <option>Shitake</option>
        </select>
        <!--Select Process-->
        <div className="form__radio-group">
            <span class="config_label">Select a Process</span>
            <input type="radio" class="form__radio-input" id="incubation" name="process" />
            <label class="form__radio-label">
                Incubation
            </label>
            <input type="radio" class="form__radio-input" id="fruiting" name="process" />
            <label class="form__radio-label">
                Fruiting
            </label>
        </div>
        <!--Accept Defaults-->
        <div className="form__radio-group">
            <span class="config_label">Accept Defaults</span>
            <input type="radio" class="form__radio-input" id="yes" name="accept_defaults" />
            <label class="form__radio-label">
                Yes
            </label>
            <input type="radio" class="form__radio-input" id="no" name="accept_defaults" />
            <label class="form__radio-label">
                No
            </label>
        </div>

        <!--Overrides-->
        <div class="overrides">
            <!--Temperature-->
            <div>
                <label class="config_label">Select Temperature Celsius</label>
                <input type="number" name="temperature_c" class="form__number_input">
            </div>
            <!--Humidity-->
            <div>
                <label class="config_label">Select Relative Humidity %</label>
                <input type="number" name="humidity" class="form__number_input"> 
            </div>
            <!--CO2-->
            <div>
                <label class="config_label">Select CO2 ppm</label>
                <input type="number" name="co2_ppm" class="form__number_input">
            </div>
            <!--Light-->
            <div className="form__radio-group">
                <span class="config_label">Select Lighting</span>
                <input type="radio" class="form__radio-input" id="yes" name="lighting" />
                <label class="form__radio-label">
                    ON
                </label>
                <input type="radio" class="form__radio-input" id="no" name="lighting" />
                <label class="form__radio-label">
                    OFF
                </label>
            </div>
            <!--Duration-->
            <div>
                <label class="config_label">Select Duration (days)</label>
                <input type="number" name="duration_days" class="form__number_input">
            </div>
        </div>


        <!--Start Process-->
        <label class="config_label"></label>
        <button type="submit" id="submit_button">Run Process</button>
    </form>
</body>

</html>