extends layout 

block content
    h1= title
    form(method="POST", action="/user")
    input(type="hidden", name="_method", value="PUT")
    .input
      P Name 
      input(type="text", name="name")
    .input 
      p Email 
      input(type="email", name="email")
    .input
      p Age 
      input(type="number", name="age")
    .submit
      input(type="submit")