<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Configuration</title>
</head>
<body>
    <h1>Gourmet Mushroom Grow-Box Configuration</h1>
    <form>
        <!--Select Mushroom-->
        <label>Select a Mushroom</label>
        <select>
            <option>Pink Oyster</option>
            <option>Golden Oyster</option>
            <option>Blue Oyster</option>
            <option>Shitake</option>
        </select>
        <!--Select Process-->
        <div className="form__radio-group">
            <span class="radio_group_title">Select a Process</span>
            <input type="radio" class="form__radio-input"  name="incubation"/>
            <label class="form__radio-label">
               Incubation
            </label>
        </div>
        <!--Accept Defaults-->
        <!--Temperature-->
        <!--Humidity-->
        <!--CO2-->
        <!--Light-->
        <!--Duration-->
        <!--Start Process-->
    </form>
</body>
</html>