<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Configuration</title>
</head>
<body>
    <h1>Gourmet Mushroom Grow-Box Configuration</h1>
    <form>
        <label>Select a Mushroom</label>
        <select>
            <option>Pink Oyster</option>
            <option>Golden Oyster</option>
            <option>Blue Oyster</option>
            <option>Shitake</option>
        </select>
    </form>
</body>
</html>