.form__radio-group {
    padding: 20px;
}

/* Labels & Titles */
.radio_group_title {
    display: block;
}

.config_label {
    width: 30%;
}

#submit_button {
    padding: 10px 15px;
    color: #fff;
    background-color: green;
    border-radius: 6%
}

/* Inputs */
.form__number_input {
    width: 20%;
    margin-left: 5px;
}
