.form__radio-group {
    padding: 20px;
}

.radio_group_title {
    display: block;
}

#submit_button {
    padding: 10px 15px;
    color: #fff;
    background-color: green;
    border-radius: 85%;
}
