<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/stylesheets/reset.css">
    <link rel="stylesheet" href="../../assets/stylesheets/configuration/configuration.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&family=Ubuntu:wght@500&display=swap" rel="stylesheet">
    <title>Main Configuration</title>
</head>

<body>
    <h1>Gourmet Mushroom Grow-Box Configuration</h1>
    <form name="main_config_form" id="main_config_form">
        <!--Select Mushroom-->
        <label class="config_label">Select a Mushroom</label>
        <select name="mushroom" id="mushroom">
            <option value="pink_oyster">Pink Oyster</option>
            <option value="golden_oyster">Golden Oyster</option>
            <option value="blue_oyster">Blue Oyster</option>
            <option value="shitake">Shitake</option>
        </select>
        <!--Accept Defaults-->
        <div className="form__radio-group">
            <span class="config_label">Accept Defaults</span>
            <input type="radio" class="form__radio-input" id="defaults_yes" name="accept_defaults" value="Yes" />
            <label class="form__radio-label" checked>
                Yes
            </label>
            <input type="radio" class="form__radio-input" id="defaults_no" name="accept_defaults" value="No" />
            <label class="form__radio-label">
                No
            </label>
        </div>

        <!--custom_config-->
        <div id="custom_config">
            <div class="session_state--spawn-running">
                <h2 class="session_state-title">Spawn Running</h2>
                <!--Temperature-->
                <div>
                    <label class="config_label">Select Temperature Celsius</label>
                    <input type="number" name="sr_temperature_c" class="form__number_input" />
                </div>
                <!--Humidity-->
                <div>
                    <label class="config_label">Select Relative Humidity %</label>
                    <input type="number" name="sr_humidity" class="form__number_input" /> 
                </div>
                <!--CO2-->
                <div>
                    <label class="config_label">Select CO2 ppm</label>
                    <input type="number" name="sr_co2_ppm" class="form__number_input" />
                </div>
                <!--Light-->
                <div className="form__radio-group">
                    <span class="config_label">Select Lighting</span>
                    <input type="radio" class="form__radio-input" id="yes" name="sr_lighting" />
                    <label class="form__radio-label">
                        On
                    </label>
                    <input type="radio" class="form__radio-input" id="no" name="sr_lighting" />
                    <label class="form__radio-label">
                        Off
                    </label>
                </div>
                <!--Duration-->
                <div className="form__radio-group">
                    <span class="config_label">Set a duration for Spawn Running, or use the substrate temperature threshold to end this stage</span>
                    <input type="radio" class="form__radio-input" id="sr_timer" name="sr_trigger" value="Yes"/>
                    <label class="form__radio-label">
                        Duration
                    </label>
                    <input type="radio" class="form__radio-input" id="sr_temperature" name="sr_trigger" value="No"/>
                    <label class="form__radio-label">
                        Temperature
                    </label> 
                </div>
                <div id="sr_duration_field">
                    <label class="config_label">Select Duration (days)</label>
                    <input type="number" name="sr_duration_input" class="form__number_input">
                </div>
            </div>
            <div class="session_state--primordia-init">
                <h2 class="session_state-title">Primordia Initiation</h2>
                <!--Temperature-->
                <div>
                    <label class="config_label">Select Temperature Celsius</label>
                    <input type="number" name="pi-temperature_c" class="form__number_input">
                </div>
                <!--Humidity-->
                <div>
                    <label class="config_label">Select Relative Humidity %</label>
                    <input type="number" name="pi-humidity" class="form__number_input"> 
                </div>
                <!--CO2-->
                <div>
                    <label class="config_label">Select CO2 ppm</label>
                    <input type="number" name="pi-co2_ppm" class="form__number_input">
                </div>
                <!--Light-->
                <div className="form__radio-group">
                    <span class="config_label">Select Lighting</span>
                    <input type="radio" class="form__radio-input" id="yes" name="pi-lighting" />
                    <label class="form__radio-label">
                        On
                    </label>
                    <input type="radio" class="form__radio-input" id="no" name="pi-lighting" />
                    <label class="form__radio-label">
                        Off
                    </label>
                </div>
                <!--Duration-->
                <div>
                    <label class="config_label">Select Duration (days)</label>
                    <input type="number" name="pi-duration_days" class="form__number_input">
                </div>
            </div>
            <div class="session_state--fruiting">
                <h2 class="session_state-title">Fruiting</h2>
                <!--Temperature-->
                <div>
                    <label class="config_label">Select Temperature Celsius</label>
                    <input type="number" name="fr-temperature_c" class="form__number_input">
                </div>
                <!--Humidity-->
                <div>
                    <label class="config_label">Select Relative Humidity %</label>
                    <input type="number" name="fr-humidity" class="form__number_input"> 
                </div>
                <!--CO2-->
                <div>
                    <label class="config_label">Select CO2 ppm</label>
                    <input type="number" name="fr-co2_ppm" class="form__number_input">
                </div>
                <!--Light-->
                <div className="form__radio-group">
                    <span class="config_label">Select Lighting</span>
                    <input type="radio" class="form__radio-input" id="yes" name="fr-lighting" />
                    <label class="form__radio-label">
                        On
                    </label>
                    <input type="radio" class="form__radio-input" id="no" name="fr-lighting" />
                    <label class="form__radio-label">
                        Off
                    </label>
                </div>
                <!--Duration-->
                <div>
                    <label class="config_label">Select Duration (days)</label>
                    <input type="number" name="fr-duration_days" class="form__number_input">
                </div>
            </div>
        </div>
        
        
        <!--Start Process-->
        <label class="config_label"></label>
        <button type="submit" id="submit_button">Run Process</button>
    </form>
    <script type="module" src="../../javascript/controllers/configuration/configuration.js"></script>
</body>

</html>